# Versionné : Source/, Config/, Plugins/ (sources et .uplugin uniquement), .gitignore et le .uproject. Tout le reste est ignoré.
/*
!/.gitignore
!/*.uproject
!/Source/
!/Config/
!/Plugins/

# Dans Plugins/ : seulement le .uplugin et le dossier Source/ de chaque plugin
/Plugins/**
!/Plugins/**/
!/Plugins/**/*.uplugin
!/Plugins/**/Source/**
/Plugins/**/Binaries/
/Plugins/**/Intermediate/
