# Versionné : Source/, Plugins/, .gitignore et le .uproject. Tout le reste est ignoré.
/*
!/.gitignore
!/*.uproject
!/Source/
!/Plugins/

# Dossiers générés dans les plugins
/Plugins/**/Binaries/
/Plugins/**/Intermediate/
/Plugins/**/Content/
